@if (clickable()) {
  <a
    [routerLink]="detailsRoute()"
    [queryParams]="detailsQueryParams()"
    class="node-card cursor-pointer hover:bg-base-200 transition-colors block no-underline"
  >
    <ng-container *ngTemplateOutlet="cardContent" />
  </a>
} @else {
  <div class="node-card">
    <ng-container *ngTemplateOutlet="cardContent" />
  </div>
}

<ng-template #cardContent>
  <!-- Top Container -->
  <div class="position-container position-container-topbottom">
    @for (group of widgetsByPosition().top; track $index) {
      <ng-container
        *ngTemplateOutlet="
          widgetGroup;
          context: { group: group, first: $first }
        "
      />
    }
  </div>

  <!-- Middle Row: Left, Main, Right -->
  <div class="flex flex-col md:flex-row min-w-0">
    <!-- Left Container -->
    <div class="position-container position-container-side md:order-1">
      @for (group of widgetsByPosition().left; track $index) {
        <ng-container
          *ngTemplateOutlet="
            widgetGroup;
            context: { group: group, first: $first }
          "
        />
      }
    </div>

    <!-- Main Container -->
    <div class="position-container w-full md:flex-1 md:min-w-[33%] md:order-2">
      @for (group of widgetsByPosition().main; track $index) {
        <ng-container
          *ngTemplateOutlet="
            widgetGroup;
            context: { group: group, first: $first }
          "
        />
      }
    </div>

    <!-- Right Container -->
    <div class="position-container position-container-side md:order-3">
      @for (group of widgetsByPosition().right; track $index) {
        <ng-container
          *ngTemplateOutlet="
            widgetGroup;
            context: { group: group, first: $first }
          "
        />
      }
    </div>
  </div>

  <!-- Bottom Container -->
  <div class="position-container position-container-topbottom">
    @for (group of widgetsByPosition().bottom; track $index) {
      <ng-container
        *ngTemplateOutlet="
          widgetGroup;
          context: { group: group, first: $first }
        "
      />
    }
  </div>
</ng-template>

<ng-template #widgetGroup let-group="group" let-first="first">
  <div class="widget-group flex flex-col gap-2" [class.mt-6]="!first">
    @if (group.label) {
      <h3 class="text-sm font-semibold text-base-content/70">
        {{ group.label }}
      </h3>
    }
    @for (item of group.items; track $index) {
      <ng-container
        *ngTemplateOutlet="
          widgetItem;
          context: { item: item, first: $first, last: $last }
        "
      />
    }
  </div>
</ng-template>

<ng-template #widgetItem let-item="item" let-first="first" let-last="last">
  <app-dynamic-widget
    [data]="data()"
    [property]="item.property"
    [widget]="item.widget"
    [class.-mx-4]="item.widget.config?.fullWidth"
    [class.-mt-4]="item.widget.config?.fullWidth && first"
    [class.-mb-4]="item.widget.config?.fullWidth && last"
  />
</ng-template>
