@if (clickable()) {
  <a
    [routerLink]="detailsRoute()"
    class="node-card cursor-pointer hover:bg-base-200 transition-colors block no-underline"
  >
    <ng-container *ngTemplateOutlet="cardContent" />
  </a>
} @else {
  <div class="node-card">
    <ng-container *ngTemplateOutlet="cardContent" />
  </div>
}

<ng-template #cardContent>
  <div class="card-body p-4">
    <!-- Top Container -->
    <div class="position-container position-container-topbottom">
      @for (item of widgetsByPosition().top; track $index) {
        <app-dynamic-widget
          [data]="data()"
          [property]="item.property"
          [widget]="item.widget"
        />
      }
    </div>

    <!-- Middle Row: Left, Main, Right -->
    <div class="flex gap-6 min-w-0">
      <!-- Left Container -->
      <div class="position-container position-container-side">
        @for (item of widgetsByPosition().left; track $index) {
          <app-dynamic-widget
            [data]="data()"
            [property]="item.property"
            [widget]="item.widget"
          />
        }
      </div>

      <!-- Main Container -->
      <div class="position-container flex-1 min-w-[33%]">
        @for (item of widgetsByPosition().main; track $index) {
          <app-dynamic-widget
            [data]="data()"
            [property]="item.property"
            [widget]="item.widget"
          />
        }
      </div>

      <!-- Right Container -->
      <div class="position-container position-container-side">
        @for (item of widgetsByPosition().right; track $index) {
          <app-dynamic-widget
            [data]="data()"
            [property]="item.property"
            [widget]="item.widget"
          />
        }
      </div>
    </div>

    <!-- Bottom Container -->
    <div class="position-container position-container-topbottom bg-purple-100">
      @for (item of widgetsByPosition().bottom; track $index) {
        <app-dynamic-widget
          [data]="data()"
          [property]="item.property"
          [widget]="item.widget"
        />
      }
    </div>
  </div>
</ng-template>
