<ng-template #buttonContent>
  @if (icon()) {
    <ng-icon [svg]="icon()" [size]="iconSize()"></ng-icon>
  }
  @if (!iconOnly()) {
    {{ isOpen() ? labelWhenOpen() : labelWhenClosed() }}
  }
</ng-template>

<!-- Desktop -->
<button
  (click)="onToggle()"
  [class]="buttonClass()"
  class="hidden lg:inline-flex"
  [attr.aria-label]="isOpen() ? labelWhenOpen() : labelWhenClosed()"
>
  <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
</button>

<!-- Mobile -->
<label
  [for]="drawerId()"
  [class]="buttonClass()"
  class="lg:hidden"
  [attr.aria-label]="isOpen() ? labelWhenOpen() : labelWhenClosed()"
>
  <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
</label>
