<div class="flex flex-col lg:flex-row gap-1 lg:gap-8">
  <div class="w-full lg:w-1/5 break-words hyphens-auto" lang="nl">
    @if (showLabel()) {
      <span class="flex items-center gap-4">
        @if (icon()) {
          <ng-icon
            class="flex-shrink-0 inline-flex items-center"
            [svg]="icon()"
            size="16"
          />
        }
        <span>{{ displayLabel() }}</span>
      </span>
    }
  </div>

  <div class="flex-1 font-mono">
    <ng-content />
  </div>
</div>
