<div class="form-control">
  <div class="relative">
    <label class="input input-bordered rounded-full flex items-center gap-2">
      <input
        type="text"
        placeholder="Search..."
        class="grow"
        [ngModel]="store.searchTerm()"
        (ngModelChange)="onSearchTermChange($event)"
        (keyup.enter)="onSearch()"
        (focus)="onInputFocus()"
        (blur)="onInputBlur()"
      />
      <button
        class="btn btn-primary btn-sm rounded-full"
        (click)="onSearch()"
        [disabled]="store.loading()"
      >
        @if (store.loading()) {
          <span class="loading loading-spinner"></span>
        } @else {
          <ng-icon name="featherSearch" size="16"></ng-icon> Zoek
        }
      </button>
    </label>

    <app-autocomplete-dropdown
      #autocomplete
      [searchTerm]="store.searchTerm()"
      (selectItem)="onAutocompleteSelect($event)"
      (selectSuggestion)="onSuggestionSelect($event)"
    />
  </div>
</div>
